<!doctype html>
<html>
<head>  
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//code.jquery.com/ui/.11.2/themes/smoothness/jquery-ui.css">
</head>
<body>
  
  
 <!--navigation bar --> 
<%= render 'layouts/navbar'%>


  <%= yield %>
  
  <%= render 'layouts/js'%>
  </body>
</html>